BETTER_AUTH_SECRET=5KAiSillheE7KbjEgZy9WOI9WN1LCZqv
BETTER_AUTH_URL=http://localhost:3000
POLAR_ACCESS_TOKEN=
POLAR_SUCCESS_URL=http://localhost:3001/success?checkout_id={CHECKOUT_ID}
CORS_ORIGIN=http://localhost:3001

DATABASE_URL=postgresql://postgres:password@localhost:5432/starter-pack


VITE_SERVER_URL=http://localhost:3000
